<section>
    <div>
        <h1>Widget 1</h1>
        <svg viewBox="0 0 50 50" style="width:40px">
            <use xlink:href={{view url="images/sprite.svg#lock"}} />
        </svg>
        <h1>Widget 1.1</h1>
        <svg viewBox="0 0 50 50" style="width:40px">
            <use xlink:href={{view url="images/sprite.svg#floppy-disk"}} />
        </svg>
        <h1>Widget 1.2</h1>
        <svg viewBox="0 0 50 50" style="width:40px">
            <use xlink:href={{view url="images/sprite.svg#magnifying"}} />
        </svg>
    </div>
</section>